<table border="1">
  <tr>
    <th>
      Username
    </th>

    <th>
      Private?
    </th>

    <th></th>
    <th></th>
  </tr>
  
  <tr>
    <th>
      Insert username here
    </th>

    <th>
      Insert whether or not private here
    </th>

    <th></th>
    <th>
    <a href="/show">Show details</a>
    </th>
  </tr>


</table>
